<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="text-muted boxLegal">Hecho con <i class="material-icons colorRed mx-2">favorite</i> por Oscar Cornejo</span>
            </div>
        </div>
    </div>
</footer>