.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.boxLegal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorRed {
    color: red;
}