<app-loading *ngIf="loading"></app-loading>

<div class="container-fluid mt-5 mb-100">
    <div class="row">
        <div class="col-md-12">
            <button (click)="obtenerLetras()" type="button" class="btn btn-primary">Mostrar Información</button>
        </div>
    </div>

    <hr>

    <div class="row mt-4">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">

                    <p *ngIf="mostrarMensaje">No existen datos que mostrar, favor presione el botón para visualizar la información.</p>

                    <table class="table table-hover" *ngIf="!mostrarMensaje">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th *ngFor="let item of cabeceras">{{item}}</th>
                                <th scope="col">Suma numericos contenidos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of bodyTabla; let i = index">
                                <td>
                                    <p class="text-center">{{ i + 1 }}</p>
                                </td>
                                <td *ngFor="let total of item; let i = index">
                                    <p class="text-center">{{total.value}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>