<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="boxError">
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>

                <div>
                    <p></p>Lo sentimos, se ha producido un error. ¡No se encontró la página solicitada!
                </div>

                <div class="mt-4">
                    <a routerLink="/" class="btn btn-primary">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</div>