<app-loading *ngIf="loading"></app-loading>

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-12">
            <button (click)="obtenerNumeros()" type="button" class="btn btn-primary">Mostrar Información</button>
        </div>
    </div>

    <hr>

    <div class="row" *ngIf="numeros.length > 0">

        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label for="controlInput">Números Ordenados</label>
                    <input class="form-control" id="controlInput" type="text" name="ordenarNumeros" [(ngModel)]="ordenarNumeros" placeholder="Ordenar Números">
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">


            <div class="card">
                <div class="card-body">

                    <p *ngIf="numeros.length === 0 || numeros === null || mostrarMensaje">No existen datos que mostrar, favor presione el botón para visualizar la información.</p>

                    <table class="table" *ngIf="numeros.length > 0 || !mostrarMensaje">
                        <thead>
                            <tr>
                                <th class="text-center">N°</th>
                                <th class="text-center">Number</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">First Position</th>
                                <th class="text-center">Last Position</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [ngClass]="{colorVerde : numeros[1][i] >= 2, colorAmarillo : numeros[1][i] === 1, colorGris : numeros[1][i] < 1}" *ngFor="let column of numeros[0]; let i = index">
                                <td>
                                    <p class="text-center">{{ i + 1 }}</p>
                                </td>
                                <td>
                                    <p class="text-center">{{numeros[0][i]}}</p>
                                </td>
                                <td>
                                    <p class="text-center">{{numeros[1][i]}}</p>
                                </td>
                                <td>
                                    <p class="text-center">{{numeros[2][i]}}</p>
                                </td>
                                <td>
                                    <p class="text-center">{{numeros[3][i]}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>